<h2>Joueurs</h2>
<div class="row">
    <div class="col-sm-6">
        <!-- tableau des joueurs existants -->
        <table class="table table-success table-striped" border="2">
            <thead>
                <tr>
                    <th>ID</th><th>Prenom</th><th>Nom</th><th>DateNaissance</th>
                    <th>Nationalite</th><th>Sexe</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let j of joueurList" (click)="onSelect(j)"
                [class.selected]="j==selectedJoueur">
                <td>{{j.id}}</td>
                <td>{{j.prenom}}</td>
                <td>{{j.nom}}</td>
                <td>{{j.dateNaissance}}</td>
                <td >{{j.nationalite.nomFrFr}}</td>
                <td >{{textSexe(j.sexe)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <!-- formulaire de mise à jour d'un joueur selectionné  -->
      <form #myForm="ngForm">
        <div class="row mt-1">
            <label class="col-sm-4 text-sm-end text">ID:</label>
            <!-- <label class="col-sm-8">{{joueur.id}}</label> -->
            <div class="col-auto">
                <input [value]="joueur.id" disabled="true" name="prenom" 
                        required class="form-control"/>
            </div>
        </div>
        <div class="row mt-1 mb-1">    
            <label class="col-sm-4 text-sm-end text">Prenom:</label>
            <div class="col-auto">
                <input [(ngModel)]="joueur.prenom" name="prenom" 
                        required class="form-control"/>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <label class="col-sm-4 text-sm-end text">Nom:</label>
            <div class="col-auto">
                 <input [(ngModel)]="joueur.nom" name="nom" 
                        required class="form-control"/>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <label class="col-sm-4 text-sm-end text">DateNaissance:</label>
            <div class="col-auto">
              <!--  <input [(ngModel)]="joueur.dateNaissance" name="dateNaissance" 
                       required pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control"/> -->
                <input type="date" [(ngModel)]="joueur.dateNaissance" name="dateNaissance" 
                       required  class="form-control"/>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <label class="col-sm-4 text-sm-end text">Nationalite:</label>
            <div class="col-auto">
                <select [(ngModel)]="joueur.nationalite.id" name="listePays" 
                    required class="form-control" required name="nationalite">
                    <option [ngValue]="p.id" *ngFor="let p of listePays">{{p.nomFrFr}}</option>
                </select><br/>
            </div>
        </div>
       
            <div class="form-check form-check-inline text">
                <input [(ngModel)]="joueur.sexe" class="form-check-input" type="radio" name="sexe" [value]="0">
                <label class="form-check-label text" for="sexe">Homme</label>
            </div>
            <div class="form-check form-check-inline text">
                <input [(ngModel)]="joueur.sexe" class="form-check-input" type="radio" name="sexe" [value]="1"> 
                <label class="form-check-label text" for="sexe">Femme</label>
            </div>
       
        <br/><br/>
        <button type="button" class="btn btn-info "  (click)="onUpdate()" [disabled]="selectedJoueur==null || !myForm.form.valid">Mettre à jour</button> &nbsp; 
        <button type="button" class="btn btn-success " (click)="onNew()">Nouveau</button> &nbsp; 
        <button  type="button" class="btn btn-primary" (click)="onAdd()" [disabled]="selectedJoueur!=null || !myForm.form.valid">Ajouter un Joueur</button> &nbsp; 
        <button type="button" class="btn btn-danger"  (click)="onDelete()" [disabled]="selectedJoueur==null">Suprimer</button>
     </form>
     <hr/>
    
    </div>
</div>